{% extends "layout.html" %}

{% block body %}

<form method="post" action="/">
	{{ form.csfr_token }}
	{{ form.kp }} Kp ({{kpValue}})<br /> 
	{{ form.ki }} Ki ({{kiValue}})<br />
	{{ form.kd }} Kd ({{kdValue}})<br />
	{{ form.lowerOutputLimit }} Lower output limit ({{lol}})<br />
	{{ form.upperOutputLimit }} Upper output limit ({{uol}})<br />
	{{ form.sampleTime }} Sample time ({{sampleTimeValue}} ms)<br />
	{{ form.setpoint }} Setpoint ({{setpointValue}} C)<br />
	{{ form.output }} Manually selected output ({{outputValue}}). This is only relevant when the controller mode is set to manual.<br /><br />
	
	<!--checkModeDisabled:{{checkModeDisabled}}<br>
	checkModeEnabled:{{checkModeEnabled}}<br><br>-->

	Controller mode ({{modeValue}}): <br>
	<input type="radio" name="mode" id="MANUAL" value="MANUAL"/> Manual <br>
	<input type="radio" name="mode" id="AUTOMATIC" value="AUTOMATIC"/> Automatic <br><br/>

	Direction ({{directionValue}}): <br>
	<input type="radio" name="direction" id="DIRECT" value="DIRECT"> Direct (heating) </input><br>
	<input type="radio" name="direction" id="REVERSE" value="REVERSE"> Reverse (cooling) </input><br><br />

	<input type="submit" value="send data"><br />
<form/>

{% endblock %}