{% extends "layout.html" %}

{% block body %}

<form method="post" action="/formTest">
	{{ form.csfr_token }}
	{{ form.kp }} Kp ({{kpValue}})<br /> 
	{{ form.ki }} Ki ({{kiValue}})<br />
	{{ form.kd }} Kd ({{kdValue}})<br />
	{{ form.lowerOutputLimit }} Lower output limit ({{lol}})<br />
	{{ form.upperOutputLimit }} Upper output limit ({{uol}})<br />
	{{ form.sampleTime }} Sample time ({{sampleTimeValue}} ms)<br />
	{{ form.setpoint }} Setpoint ({{setpointValue}} C)<br />
	{{ form.output }} Output ({{outputValue}}) <br /><br />
	
	Mode ({{modeValue}}): <br>
	<input type="radio" name="mode" id="MANUAL" value="MANUAL"/> Disabled <br>
	<input type="radio" name="mode" id="AUTOMATIC" value="AUTOMATIC"/> Enabled <br><br/>
	
	Direction ({{directionValue}}): <br>
	<input type="radio" name="direction" id="DIRECT" value="DIRECT"> Direct </input><br>
	<input type="radio" name="direction" id="REVERSE" value="REVERSE"> Reverse </input><br><br />

	<input type="submit" value="send data"><br />
<form/>

{% endblock %}